@page "/applications/details"
@using Microsoft.EntityFrameworkCore
@using FinalProject.Models
@inject IDbContextFactory<FinalProject.Data.FinalProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Application</h2>
    <hr />
    @if (application is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@application.UserId</dd>
            <dt class="col-sm-2">IsApproved</dt>
            <dd class="col-sm-10">@application.IsApproved</dd>
            <dt class="col-sm-2">ApplicationFee</dt>
            <dd class="col-sm-10">@application.ApplicationFee</dd>
        </dl>
        <div>
            <a href="@($"/applications/edit?id={application.Id}")">Edit</a> |
            <a href="@($"/applications")">Back to List</a>
        </div>
    }
</div>

@code {
    private Application? application;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        application = await context.Application.FirstOrDefaultAsync(m => m.Id == Id);

        if (application is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
