@* @using FinalProject.Models *@


@* <h3>Search Dogs</h3> *@

@* <div class="filter-form"> *@
@*     <label for="breed">Breed:</label> *@
@*     <input type="text" id="breed" @bind="filter.Breed" placeholder="Enter breed" /> *@

@*     <label for="size">Size:</label> *@
@*     <select id="size" @bind="filter.Size"> *@
@*         <option value="">--Select Size--</option> *@
@*         <option value="Small">Small</option> *@
@*         <option value="Medium">Medium</option> *@
@*         <option value="Large">Large</option> *@
@*     </select> *@

@*     <label for="age">Age:</label> *@
@*     <input type="number" id="age" @bind="filter.Age" placeholder="Enter max age" /> *@

@*     <button @onclick="SearchDogs">Search</button> *@
@* </div> *@

@* <h3>Dog Profiles</h3> *@
@* <ul> *@
@*     @foreach (var dog in filteredDogs) *@
@*     { *@
@*         <li> *@
@*             <img src="@dog.ImageUrl" alt="@dog.Name" /> *@
@*             <p><strong>@dog.Name</strong> - @dog.Breed</p> *@
@*             <p>Age: @dog.Age, Size: @dog.Size</p> *@
@*             <p>@dog.Description</p> *@
@*         </li> *@
@*     } *@
@* </ul> *@

@* @code { *@
@*     private DogFilterModel filter = new DogFilterModel(); *@
@*     private List<DogProfile> filteredDogs = new List<DogProfile>(); *@

@*     private async Task SearchDogs() *@
@*     { *@
@*         // Repurposing the LINQ query logic to filter dogs *@
@*         // var result = await DogService.FilterDogsAsync(filter); *@

@*         // Bind the result to filteredDogs *@
@*         // filteredDogs = result; *@
@*     } *@
@* } *@

@* public class DogFilterModel *@
@* { *@
@*     public string Breed { get; set; } *@
@*     public string Size { get; set; } *@
@*     public int? Age { get; set; } *@
@* } *@
